mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#aboutme",
        text: "Обо мне"
      },
      {
        href: "#experience",
        text: "Опыт"
      },
      {
        href: "#works",
        text: "Работы"
      },
      {
        href: "#qa",
        text: "Вопрос-ответ"
      },
      {
        href: "#education",
        text: "Образование"
      },
      //- {
      //-   text: "Разное",
      //-   icon: "icon-down",
      //-   subLinks: [
      //-     {
      //-       href: "magic.html",
      //-       text: "Магический шар",
      //-     },
      //-     {
      //-       href: "#",
      //-       text: "Интересные сайты",
      //-     },
      //-     {
      //-       href: "#",
      //-       text: "Галерея",
      //-     },
      //-   ]
      //- },
    ]

  header.header(class=headerMods)
    .container
      //- if(currentUrl === "index.html")
      //-   //- lighthouse снимает 10 баллов SEO за <a> без href
      //-   span.header__logo.header__logo--inactive
      //-     svg(width="30" height="30" viewBox="0 0 20 20" fill="#F9F9F9" xmlns="http://www.w3.org/2000/svg")
      //-       path(fill-rule="evenodd" clip-rule="evenodd" d="M10.7871 1.76476C10.3456 1.31652 9.65447 1.31652 9.21299 1.76476L1.40834 9.68427C1.4019 9.6908 1.39534 9.6972 1.38866 9.70345C1.35416 9.73576 1.34251 9.76464 1.33762 9.7882C1.3318 9.81629 1.33306 9.85244 1.34621 9.89008C1.35937 9.92772 1.38048 9.95562 1.40176 9.97243C1.41954 9.98646 1.44566 9.99991 1.49127 9.99991H2.66782C3.03597 9.99991 3.33441 10.3197 3.33441 10.7142V18.5714H16.6663V10.7142C16.6663 10.3197 16.9648 9.99991 17.3329 9.99991H18.5081C18.5539 9.99991 18.5802 9.9864 18.598 9.97231C18.6194 9.95544 18.6405 9.9275 18.6537 9.88987C18.6668 9.85224 18.668 9.81619 18.6622 9.78827C18.6574 9.7649 18.6458 9.7362 18.6114 9.70403C18.6045 9.69759 18.5977 9.69099 18.591 9.68425L10.7871 1.76476ZM11.7039 0.727634C10.7482 -0.242586 9.25168 -0.242545 8.29602 0.727758L0.50007 8.63843C-0.517209 9.60877 0.119805 11.4285 1.49127 11.4285H2.00122V19.2857C2.00122 19.6802 2.29966 20 2.66782 20H17.3329C17.7011 20 17.9995 19.6802 17.9995 19.2857V11.4285H18.5081C19.8792 11.4285 20.5183 9.60849 19.4991 8.63816L11.7039 0.727634V0.727634Z")
      //-       path(fill-rule="evenodd" clip-rule="evenodd" d="M10.0005 12.8571C8.8961 12.8571 8.00067 13.8166 8.00067 15V18.5716C7.33375 18.5716 7.7019 18.5716 7.33375 18.5716C6.9656 18.5716 7.33375 18.5716 6.66748 18.5716V15C6.66748 13.0276 8.1598 11.4285 10.0005 11.4285C11.8411 11.4285 13.3334 13.0276 13.3334 15L13.3331 18.5716C12.6665 18.5716 13.0347 18.5716 12.6665 18.5716C12.2984 18.5716 12.6665 18.5716 12.0002 18.5716V15C12.0002 13.8166 11.1048 12.8571 10.0005 12.8571Z")
      //- else
      //-   a.header__logo(href="index.html", aria-label="Переход на главную")
      //-     svg(width="30" height="30" viewBox="0 0 20 20" fill="#F9F9F9" xmlns="http://www.w3.org/2000/svg")
      //-       path(fill-rule="evenodd" clip-rule="evenodd" d="M10.7871 1.76476C10.3456 1.31652 9.65447 1.31652 9.21299 1.76476L1.40834 9.68427C1.4019 9.6908 1.39534 9.6972 1.38866 9.70345C1.35416 9.73576 1.34251 9.76464 1.33762 9.7882C1.3318 9.81629 1.33306 9.85244 1.34621 9.89008C1.35937 9.92772 1.38048 9.95562 1.40176 9.97243C1.41954 9.98646 1.44566 9.99991 1.49127 9.99991H2.66782C3.03597 9.99991 3.33441 10.3197 3.33441 10.7142V18.5714H16.6663V10.7142C16.6663 10.3197 16.9648 9.99991 17.3329 9.99991H18.5081C18.5539 9.99991 18.5802 9.9864 18.598 9.97231C18.6194 9.95544 18.6405 9.9275 18.6537 9.88987C18.6668 9.85224 18.668 9.81619 18.6622 9.78827C18.6574 9.7649 18.6458 9.7362 18.6114 9.70403C18.6045 9.69759 18.5977 9.69099 18.591 9.68425L10.7871 1.76476ZM11.7039 0.727634C10.7482 -0.242586 9.25168 -0.242545 8.29602 0.727758L0.50007 8.63843C-0.517209 9.60877 0.119805 11.4285 1.49127 11.4285H2.00122V19.2857C2.00122 19.6802 2.29966 20 2.66782 20H17.3329C17.7011 20 17.9995 19.6802 17.9995 19.2857V11.4285H18.5081C19.8792 11.4285 20.5183 9.60849 19.4991 8.63816L11.7039 0.727634V0.727634Z")
      //-       path(fill-rule="evenodd" clip-rule="evenodd" d="M10.0005 12.8571C8.8961 12.8571 8.00067 13.8166 8.00067 15V18.5716C7.33375 18.5716 7.7019 18.5716 7.33375 18.5716C6.9656 18.5716 7.33375 18.5716 6.66748 18.5716V15C6.66748 13.0276 8.1598 11.4285 10.0005 11.4285C11.8411 11.4285 13.3334 13.0276 13.3334 15L13.3331 18.5716C12.6665 18.5716 13.0347 18.5716 12.6665 18.5716C12.2984 18.5716 12.6665 18.5716 12.0002 18.5716V15C12.0002 13.8166 11.1048 12.8571 10.0005 12.8571Z")

      nav.main-nav
        button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          span
        .main-nav__wrapper
          ul.main-nav__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.main-nav__item
                if(activeState)
                  span.main-nav__link.is-active!=link.text
                    if (link.icon)
                      +icon(link.icon, 7, 7)
                else
                  a.main-nav__link(href=link.href)!=link.text
                    if (link.icon)
                      +icon(link.icon, 7, 7)
                if(link.subLinks)
                  ul.main-nav__sublist.visually-hidden
                    each sublink in link.subLinks
                      - const activeState = currentUrl === sublink.href
                      li.main-nav__subitem
                        if(activeState)
                          span.main-nav__sublink.is-active=sublink.text
                        else
                          a.main-nav__sublink(href=sublink.href)=sublink.text
      +clock()
